nav {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #333;
    color: whitesmoke;
    height: 4rem;

    display: flex;
    align-items: end;
    flex-direction: row-reverse;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
}
