nav {
    background-color: #333;
    overflow: hidden;
    height: 4rem;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}