
/* skip link utility */
.skip-link {
  position: absolute; left: -9999px; top: auto;
}
.skip-link:focus { left: 0; top: 0; padding: .5rem; background: #ddd; }

html {
  background-color: black;
  color: whitesmoke;
}

